Hi,

<b><a href="http://www.dontstayin.com/pages/promoters/intro">Click here to go to your promoters page</a></b>

Here are some simple ways of getting your message in front of the Nightlife community!

<b>Banners</b>
Use our targeted banners system to get your message in front of the right people. Target banners to people in your area, that love the kind of music you play at your events.

<b>Eflyers</b>
Email 260,000+ opted in subscribers. Mass mail our entire database with your eflyer!

<b>Tickets</b>
Collect money from your clubbers via DSI, and then use that money to get a 50% discount off DSI Advertising. You can start selling tickets within 3 clicks!

<b>Printing</b>
We have teamed up with Out of Hand to offer you the best deals on everything you need to promote your event, including flyers, posters, tickets, banners, stickers, wristbands and loads of other things. Call <b>0117 953 6363</b> or email <b><a href="mailto:sales@outofhand.co.uk">sales@outofhand.co.uk</a></b> quoting your DSI user name to get the special monthly DSI discount. <a href="/popup/flyerclick/k-625" target="_blank">Visit outofhand.co.uk</a>.

Other things you can do with your promoters account:

<b>Group News</b>
<b>Competitions</b>
<b>Articles</b>
<b>Calendar Highlights</b>

We will give you a call in the next few days to give you a walk through of the site, but if you have any questions in the meantime please post them here or call our promoter hotline on 0207 835 5599.

<b><a href="http://www.dontstayin.com/pages/promoters/intro">Click here to go to your promoters page</a></b>

See you soon!
