<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="fiftyOne">
			<section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
			<section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
			<section name="wurfl" type="FiftyOne.Foundation.Mobile.Detection.Wurfl.Configuration.WurflSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
		</sectionGroup>
		<section name="facebook" type="Facebook.FacebookSection, FacebookCommon" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Spotted.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>


	<fiftyOne>
		<wurfl wurflFilePath="~/App_Data/51Degrees.mobi-Lite-2012.01.05.xml.gz" newDeviceDetail="maximum" newDevicesURL="http://devices.51degrees.mobi/new.ashx" useActualDeviceRoot="false">
			<capabilitiesWhiteList>
				<add capabilityName="pointing_method"/>
			</capabilitiesWhiteList>
		</wurfl>
	</fiftyOne>

	<facebook>
		<applications>
			<add name="Dsi"				url_live="http://www.dontstayin.com/"  pageName_live=""                                     pageId_live="95813938222"     appId_live="148416032543"     apiKey_live="1268a0d0435face20e77bf22465eb438"	secret_live="e08ba8262d691843b4d496feb949876e"	pageToken_live="148416032543|657bb81b23daa4ad74e5c7c1-100002104311837|95813938222|vyOiqihsDVIF6x2boEFhf-DazT8"
										url_test="http://dev0.dontstayin.com/" pageName_test="Dont-Stay-In-test-page"               pageId_test="113730672034462" appId_test="197126327107"     apiKey_test="bfa8eee21e5571480f66888debf50534"	secret_test="00719d3f421a521191860287e8a8a4f2"	pageToken_test="197126327107|9826fa2d167f6abd2c5d70a9-100002104311837|113730672034462|mZlo24zIeJzJxQgJMYvjl5uale0" />
			<add name="MixmagVote"		url_live="http://mixmag-vote.com/"     pageName_live="MixmagMagazine"                       pageId_live="12120996025"     appId_live="195170253865618"	apiKey_live="b7691ecf47203ebddb8942fa37f18b4b"	secret_live="a1f5aff85a1f416607883dac4d52f2ce"	pageToken_live=""
										url_test="http://dev0.dontstayin.com/" pageName_test="pages/MixmagTest2/247863881900953"    pageId_test="247863881900953" appId_test="179372408790120"	apiKey_test="5a06f4a82bc07d32d9ad91c2effe8a16"	secret_test="7fd2f8c117eeaaa2202ed393d2dc79ec"	pageToken_test="" />
			<add name="MixmagGreatest"	url_live="http://mixmag-greatest.com/" pageName_live="MixmagMagazine"                       pageId_live="12120996025"     appId_live="220006991381259"	apiKey_live="d4a629d44238d7112e58ac3bb312b058"	secret_live="5c7b03e6ad17ae704565137849a54db5"	pageToken_live=""
										url_test="http://dev0.dontstayin.com/" pageName_test="pages/MixmagTest2/247863881900953"    pageId_test="247863881900953" appId_test="217063325011494"	apiKey_test="b6fe988808ef9a84d3a5f061ff049430"	secret_test="fd5d5e564c8ec3ecb8c5b0a24dd61f0b"	pageToken_test="" />
		</applications>
	</facebook>

	<appSettings>
		<!-- remove this line to use your local dev database -->
		<!--add key="ConnectionString" value="Server=db2; Database=db_spotted_test; Trusted_Connection=True;"/-->
		<add key="ConnectionString" value="Data Source=DB1;Initial Catalog=db_spotted_test;User ID=DSIUSR;Password=toobusy319hello;" />
		<!--add key="ConnectionString" value="Server=db1; Database=db_spotted; Trusted_Connection=True;"/>-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="LogPageTimes" value="true"/>
	</appSettings>
	<system.web>
		<httpModules>
			<add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
			<add name="IIS5XWildCardExtensionFix" type="Spotted.IIS5XWildCardExtensionFix"/>
			<add name="UnhandledExceptionModule" type="WebMonitor.UnhandledExceptionModule"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web"/>
			<add name="AttributedInjection" type="Autofac.Integration.Web.PropertyInjectionModule, Autofac.Integration.Web"/>
		</httpModules>
		<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		<identity impersonate="true"/>
		<!--********************************************************** Remember to update here before going live! identity impersonate="true" **********************************************************-->
		<machineKey validationKey="C9EBD6980E107B785027E9C15BD52B14E7BD3229A1780785EC303AF4C614A645A14824C2619C6A8E51501F9B59D4945E26E38EDA53199C2F69C67ADCA55A34D5" decryptionKey="8E9E1632479E1C6871283AC99E43F433EEFB64FCBE98EB92" validation="SHA1"/>
		<pages validateRequest="false">
			<namespaces>
				<add namespace="Bobs"/>
			</namespaces>
			<controls>
				<add tagPrefix="dsi" namespace="Spotted.CustomControls" assembly="Spotted"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="js" namespace="JsWebControls" assembly="Spotted"/>
			</controls>
		</pages>
		<!-- 
Set compilation debug="true" to insert debugging 
symbols into the compiled page. Because this 
affects performance, set this value to true only 
during development.
-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
			<buildProviders>
				<add extension=".css" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--********************************************************** Remember to update here before going live! compilation debug="false" **********************************************************-->
		<!--
The <authentication> section enables configuration 
of the security authentication mode used by 
ASP.NET to identify an incoming user.
-->
		<authentication mode="Forms">
			<forms name="SpottedNew" path="/" loginUrl="/pages/login" timeout="120"/>
		</authentication>
		<!--
The <customErrors> section enables configuration 
of what to do if/when an unhandled error occurs 
during the execution of a request. Specifically, 
it enables developers to configure html error pages 
to be displayed in place of a error stack trace.

<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
<error statusCode="403" redirect="NoAccess.htm" />
<error statusCode="404" redirect="FileNotFound.htm" />
</customErrors>
-->
		<customErrors mode="Off"/>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="GET,POST" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add path="*_AppService.axd" verb="*" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory"/>
			<add path="images/*/*.*" verb="*" type="FileHandlerModule.FileHandler"/>
			<add path="images/*/*/*/*.*" verb="*" type="FileHandlerModule.FileHandler"/>
			<add path="files/*/*.css" verb="*" type="FileHandlerModule.FileHandler"/>
			<add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
			<add path="support/*.css" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
			<!--add path="support/*.rss" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/-->
			<add path="*.rss" verb="*" type="System.Web.UI.PageHandlerFactory" />
			<add path="*.*" verb="*" type="System.Web.DefaultHttpHandler"/>
			<add path="*" verb="*" type="Local.DsiHttpHandlerFactory, Spotted"/>
		</httpHandlers>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="999999999"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<applicationSettings>
		<Spotted.Properties.Settings>
			<setting name="Spotted_com_royalmail_epro_www_EProImportService"
			 serializeAs="String">
				<value>http://www.epro.royalmail.com/webservices/import/eproimport.asmx</value>
			</setting>
			<setting name="Spotted_com_royalmail_epro_www1_EProExportService"
			 serializeAs="String">
				<value>http://www.epro.royalmail.com/webservices/export/eproexport.asmx</value>
			</setting>
			<setting name="Spotted_com_secpay_www_SECVPNService" serializeAs="String">
				<value>https://www.secpay.com/java-bin/services/SECCardService</value>
			</setting>
			<setting name="Spotted_com_dontstayin_jabba_Phone" serializeAs="String">
				<value>http://jabba.dontstayin.com/phones/phone.asmx</value>
			</setting>
			<setting name="Spotted_com_dontstayin_hoth_Phone1" serializeAs="String">
				<value>http://hoth.dontstayin.com/Phones/Phone.asmx</value>
			</setting>
			<setting name="Spotted_com_dontstayin_hoth_Phone" serializeAs="String">
				<value>http://hoth.dontstayin.com/phones/phone.asmx</value>
			</setting>
		</Spotted.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<modules>
			<remove name="Detector"/>
			<add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
			<remove name="ScriptModule"/>
			<add name="UnhandledExceptionModule" type="WebMonitor.UnhandledExceptionModule" preCondition="managedHandler"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<clear/>
			<!--add name="*.*_*" path="*.*" verb="*" type="System.Web.DefaultHttpHandler" preCondition="integratedMode,runtimeVersionv2.0" -->
			<add name="images/*/*.*_*" path="images/*/*.*" verb="*" type="FileHandlerModule.FileHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="images/*/*/*/*.*_*" path="images/*/*/*/*.*" verb="*" type="FileHandlerModule.FileHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="css" path="support/*.css" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
			<!--add name="rss" path="support/*.rss" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" /-->
			<add name="rules-Integrated" path="*.rules" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="rules-ISAPI-2.0" path="*.rules" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="xoml-Integrated" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="xoml-ISAPI-2.0" path="*.xoml" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="TraceHandler-Integrated" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="WebAdminHandler-Integrated" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="HttpRemotingHandlerFactory-rem-Integrated" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="HttpRemotingHandlerFactory-soap-Integrated" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
			<add name="AXD-ISAPI-2.0" path="*.axd" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="WebServiceHandlerFactory-ISAPI-2.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="TRACEVerbHandler" path="*" verb="TRACE" type="" modules="ProtocolSupportModule" scriptProcessor="" resourceType="Unspecified" requireAccess="None" preCondition=""/>
			<add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" type="" modules="ProtocolSupportModule" scriptProcessor="" resourceType="Unspecified" requireAccess="None" preCondition=""/>
			<add name="ISAPI-dll" path="*.dll" verb="*" type="" modules="IsapiModule" scriptProcessor="" resourceType="File" requireAccess="Execute" preCondition=""/>

			<add name="rss" path="*.rss" verb="*" type="Local.DsiHttpHandlerFactory, Spotted" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv2.0"/>

			<add name="Static file with extension" path="*.*" verb="*" type="" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="" resourceType="File" requireAccess="Script" preCondition=""/>
			<add name="DsiHttpHandlerFactory" path="*" verb="*" type="Local.DsiHttpHandlerFactory, Spotted" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="Static file default" path="*" verb="*" type="" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="" resourceType="Either" requireAccess="Read" preCondition=""/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

