body 
{
	text-align:center;
	margin: 0px;
	padding: 0px;
	/*background: url('/gfx/default-styled-bg.gif') repeat;*/
	color: #000000;
	font-family: Verdana;
	font-size: 10pt;	
}

a.Link:link, a.Link:visited 
{
	color: #000000;
	text-decoration: none;
}

a.Link:hover 
{
	color:#3E79B0;
	text-decoration:none;
}

h2  
{
	margin-top:8px;
	margin-bottom:8px;
	padding-left:8px;
	font-size:14pt;
	text-align:left;
	background-color:#3B78AF;
	color:#FFFFFF;	
}

h3
{
	font-weight:bold;
	margin-top:8px;
	margin-bottom:8px;
}

.OuterDiv
{	
	background-color: #FFFFFF;	
	width:800px;
	text-align:left;
	position:absolute;
	left:50%;
	margin-left:-400px;
}

.OuterDiv hr
{
	display:none;
}
.FooterDiv hr
{
	display:block;
}

.InnerDiv
{
	margin-left:8px;
	margin-right:8px;
}

div.WelcomeDiv
{
	text-align:right;
	font-size: 8pt;
	margin-bottom:16px;
	margin-right:8px;
	color: #000000;
}

div.WelcomeDiv a:link, div.WelcomeDiv a:visited, div.WelcomeDiv a:hover
{	
	color: #000000;
	text-decoration: underline;
}

.CalendarFilterP
{
	text-align:center;
}
.CalendarMonthSpacer
{
	margin-left:6px;
	margin-right:6px;
}
.CalendarCurrentMonth
{
	font-weight:bold;
}

.PaymentDiv
{
	border:solid 1px black;
}

.BringCardDiv
{
	font-size: 8pt;
	font-style:italic;	
}

.BuyButton
{
	padding-left:8px;
	padding-right:8px;
	margin-bottom:2px;
	margin-top:12px;
}

.EventShortDescription
{
	margin-top:30px;
	margin-bottom:10px;
}

.TicketsDropDownList
{
	margin-left:1px;	
}

.TicketText
{
	padding-bottom:6px;	
}

.EventLink
{
	margin-bottom:4px;
}
.EventLinkSpacer
{
	margin-left:3px;
	margin-right:3px;
}
.FooterDiv
{
	padding-top:20px;
	padding-bottom:4px;
}

.FooterLinks
{
	margin-left:8px;
}

.MainImage
{
	
	background-repeat: no-repeat;
	background-position:center;
	margin-bottom:4px;
	cursor:pointer;

}

.EventPic
{
	width:100px;
	height:100px;
	margin-right:10px;
}

.CalendarMonthLinks
{
	text-align:center;
	font-weight:bold;
	margin-right:8px;
	margin-left:8px;
}
.TicketDetails
{
	padding-bottom:8px;
}
.MyTicketsEventDetailsRow td
{
	border-top:solid 1px #888888;
}
.PoweredByDSI
{
	text-align:right;
	margin-right:10px;
}

.PoweredByDSI a:link, .PoweredByDSI a:visited, .PoweredByDSI a:hover
{
	font-size: 10pt;
	text-decoration: none;
	text-transform:none;
	color: #000000;
}
p.Divider
{
	border-top: dotted 1px black;
}
label.loginLabel 
{
	float: left;
	font-size:80%;
	text-align: right;
	padding: 2px 4px 2px 0;
	margin-right: 2px;
	width: 130px;
}
input.loginTextbox, textarea.loginTextbox 
{
	padding: 2px 4px;
	width: 200px;
}
input.ContinueToPayButton
{
	text-transform:none;
	font-weight:normal;
}

/*----------------------------*/

body 
{
	background-color:#D3E8A4;
	color: #000000;
}

a.Link:link, a.Link:visited 
{
	color: #000000;
	text-decoration: none;
}

a.Link:hover 
{
	color:#667846;
	text-decoration: none;
}

h2  
{
	background-color:#667846;
	color: #FFFFFF;
}

.OuterDiv
{	
	background-color: #E4F9B5;	
	border:solid 0px transparent;
}

div.WelcomeDiv
{
	color: #000000;
}

div.WelcomeDiv a:link, div.WelcomeDiv a:visited, div.WelcomeDiv a:hover
{	
	color: #000000;
	text-decoration: underline;
}

.PaymentDiv
{
	border:solid 1px white;
}

.PoweredByDSI a:link, .PoweredByDSI a:visited, .PoweredByDSI a:hover
{
	color: #000000;
}


