<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DomainNameRegistrar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DomainNameRegistrar.Properties.Settings>
            <setting name="DomainNameRegistrar_com_wildwestdomains_ote_api_WAPI" serializeAs="String">
                <value>https://api.ote.wildwestdomains.com/wswwdapi/wapi.asmx</value>
            </setting>
            <setting name="DomainNameRegistrar_com_wildwestdomains_api_WAPI" serializeAs="String">
                <value>https://api.wildwestdomains.com/wswwdapi/wapi.asmx</value>
            </setting>
        </DomainNameRegistrar.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
