body
{
	background-color: #fafafa; 	
}
.MultiSelectorDelButton
{
	
	background-image:url(x.png);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	position:relative;
	left:2px;
	top:1px;
	
}

 
.MultiSelector input{
	border:0px none;
	margin:0pt;
	padding:3px 0pt 2px;
	width:150px;
}

/* TextboxList sample CSS */
* html .MultiSelector,*:first-child+html .MultiSelector { 
	padding-bottom: 2px; 
}
.MultiSelector { 
	margin  : 0; 
	padding : 4px 5px 0; 
	border  : 1px solid #999; 
	height  : auto !important; 
	height  : 1%; 
	overflow: hidden; 
	font    : 11px "Lucida Grande", "Verdana"; 
	list-style-type:none;
}
.MultiSelector li { 
	float   : left; 
	margin  : 0 5px 4px 0; 
	list-style-type: none; 
}
.MultiSelector li.MultiSelectorListBoxItem { 
	border-radius         : 6px; 
	-moz-border-radius    : 6px; 
	-webkit-border-radius : 6px; 
	border     : 1px solid #CAD8F3; 
	padding    : 1px 10px 2px; 
	background : #FFEA4C; 
	white-space:nowrap;





}
.PopupMenuHighlightedItem
{
	background-color:Yellow;
}
.PopupMenu div
{
	border-bottom: dashed 1px Gray;
	cursor:pointer;
	margin-left:0px;
}



.PopupMenu
{
	border: solid 1px Black;
	list-style-type:none;
	padding:0; 
	margin:0; 
	font-family:Verdana, Sans-Serif; 	
	position:absolute;
	z-index:1000;
	background-color:White;
}

.Watermark
{
	color:Gray;
}
.HtmlAutoComplete
{
	border: none 3px black;
}

