<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="facebook" type="Facebook.FacebookSection, FacebookCommon" />
		<!--section name="facebook" type="Facebook.Configuration.FacebookSection, Facebook" /-->
	</configSections>

	<facebook>
		<applications>
			<add name="MixmagOnline"  pageId_live="95813938222"     pageToken_live="148416032543|657bb81b23daa4ad74e5c7c1-100002104311837|95813938222|vyOiqihsDVIF6x2boEFhf-DazT8"     appId_live="148416032543" apiKey_live="1268a0d0435face20e77bf22465eb438" secret_live="e08ba8262d691843b4d496feb949876e"
									  pageId_test="113730672034462" pageToken_test="197126327107|9826fa2d167f6abd2c5d70a9-100002104311837|113730672034462|mZlo24zIeJzJxQgJMYvjl5uale0" appId_test="197126327107" apiKey_test="bfa8eee21e5571480f66888debf50534" secret_test="00719d3f421a521191860287e8a8a4f2" />
		</applications>
	</facebook>

	
	<appSettings>
		<!--Server=anoth; Database=db_spotted_testing_2008_05_13; Trusted_Connection=True-->
		<add key="ConnectionString" value="Data Source=DB1;Initial Catalog=db_spotted_test;User ID=DSIUSR;Password=toobusy319hello;" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>



	<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
		
  </system.web>
	
	
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="20" />
		</connectionManagement>
	</system.net>
	

</configuration>
