<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Server=anoth; Database=db_spotted_testing_2007_09_14; Trusted_Connection=True-->
		<add key="ConnectionString" value="Server=anoth; Database=db_spotted_testing_2007_11_13; Trusted_Connection=True"/>
	</appSettings>
</configuration>
