<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bobs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bobs.Properties.Settings>
            <setting name="Spotted_com_secpay_www_SECVPNService" serializeAs="String">
                <value>https://www.secpay.com/java-bin/services/SECCardService</value>
            </setting>
            <setting name="Bobs_com_dontstayin_hoth_Phone1" serializeAs="String">
                <value>http://hoth.dontstayin.com/Phones/Phone.asmx</value>
            </setting>
            <setting name="Bobs_com_dontstayin_hoth_Phone" serializeAs="String">
                <value>http://hoth.dontstayin.com/phones/phone.asmx</value>
            </setting>
        </Bobs.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
