.rollmenu {color: #000000; padding-left: 2px; font-size: 11px; padding-bottom: 2px; 
	line-height: normal; padding-top: 2px;  
	text-decoration: none}
.rollmenuBlank {color: #000000;text-decoration: none}
.rollmenu:A {color: #000000; text-decoration: none}
.rollovermenu {background-color: #FECA26; cursor: pointer; color: white; padding-left: 2px; 
	font-size: 11px; padding-bottom: 2px; line-height: normal; padding-top: 2px; text-decoration: none;
	color:#ff0000;
	}
.jsmnuON {font-size: 11px; color: #000000; font-family: "Arial", "Helvetica", "sans-serif"; text-decoration: none;}
.jsmnuON:A {color: white; text-decoration: none}
.menuDiv
{
	/*border:solid 1px #FECA26;*/
}
.menuTable
{
	background-color:#999999;
	border:solid 1px #000000;
}
.menuTable td a
{
	text-decoration:none;
}
.menuTable td a:hover
{
	color:#000000;
}
.mainMenuTable
{
	
}
.mainMenuTable td
{
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	font-size:11px;
	font-weight:bold;
	padding:5px;
}
.mainMenuTable td a
{
	text-decoration:none;
}
.mainMenuTable td a:hover
{
	color:#000000;
}
.menuhead {font-weight: bold; font-size: 12px; color: #000000; background-color: transparent}
#menu0 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a1 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a2 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a3 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a4 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a5 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a6 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a7 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a8 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a9 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a10 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a11 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a12 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a13 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a14 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a15 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#a16 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#menuHD {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#HD1 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#HD2 {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#menuHome {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#menuAccount {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}
#menuBrand {left: 1px; visibility: hidden; position: absolute; top: 1px; background-color: transparent}

.CalendarAddLink
{
	background-image: url(/gfx/plus.png);
	background-repeat:no-repeat;
}
.CalendarAddLink span
{
	padding-left:12px;
	
}
